<div class="row" style="padding-top: 15px; margin: 10px auto;">
  <div class="col-lg-6 mb-6">
    <form>
      <div class="form-group">
        <label>Workout to Add</label>
        <select ng-model="selectedWorkout" ng-options="workout.name for workout in workouts" class="form-control">
          <option value="{{workout}}"></option>
        </select>
      </div>
      <div ng-if="selectedWorkout">
        <div class="form-group">
          <label>Goal End Date</label>
          <input ng-model="$ctrl.goalEndDate" type="date" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Goal Number</label>
          <input ng-model="$ctrl.goalNumber" type="text" class="form-control" placeholder="9000" />
        </div>
        <label>Unit: {{selectedWorkout.unitName}}</label>
        </br>
        <div>
          <button ng-click="$ctrl.addGoal()" type="submit" class="btn btn-default">Add</button>
        </div>
        </br>
        <div>
          <div ng-show="onSuccess" class="alert alert-success">
            <strong>Success!</strong> Goal successfully added.
          </div>
          <div ng-show="onFailure" class="alert alert-danger">
            <strong>Failure!</strong> Failed to add goal.
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
