<div class="row" style="padding-top: 15px; margin: 10px auto;">
  <div class="col-lg-6 mb-6 border">
    <form>
      <div class="form-group">
        <label>View progress for</label>
        <select ng-model="selectedGoal" ng-options="goal.workoutName for goal in goals" class="form-control">
          <option value="{{goal}}"></option>
        </select>
      </div>
      <div ng-if="selectedGoal">
        <br/>
        <button ng-click="$ctrl.handleViewProgressClick()" type="submit" ui-sref="panel" class="btn btn-default">View Progress</button>
      </div>
    </form>
  </div>
</div>
<!-- 
  ng-show => show this div only if $ctrl.showProgress = true
-->
<div ng-show="$ctrl.showGraph" class="row" style="padding-top: 15px; margin: 10px auto;">
  <div class="col-lg-12 mb-12 border">
    <!-- <bar-graph data="$ctrl.barGraphData"></bar-graph> -->
    <line-graph data="selectedData"></line-graph>
  </div>
</div>
