<div class="container">
  <button class="btn btn-default" type="button" ui-sref="addGoal"> Add Goal </button>
  <!-- <button class="btn btn-default" type="button" ui-sref="panel"> Your panel activity</button> -->
  <button class="btn btn-default" type="button" ui-sref="goalList"> Show My Progress </button>
  <!-- <button class="btn btn-default" type="button" ui-sref="history"> See all my workouts</button> -->
  <ui-view></ui-view>
</div>

<!--  <ul >
    <li> <h5> hereafter should be my ng-repeat result </h5></li>
    <li ng-repeat="goal in $ctrl.resolveGoal">
      <a ui-sref="goal({goalID:goal.id})">
      {{goal.name}}
      </a>
    </li>
  </ul> -->
