<div class="container">
  <div class="col-md-8">
    <h1 class="page-header">Add Exercise</h1>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="$ctrl.name" placeholder="Running"/>
      <label>Default Value</label>
      <input type="text" class="form-control" ng-model="$ctrl.unitValue" placeholder="2" />
      <label>Unit</label>
      <input type="text" class="form-control" ng-model="$ctrl.unitName" placeholder="km/mi" />
    </div>
    <button type="submit" class="btn btn-default" ng-click="$ctrl.addWorkout()">Add Exercise</button>
  </div>
  <ui-view></ui-view>
</div>
