<div class="container">
  <div class="col-md-8">
  </br>
  </br>
 <h3>Add Exercise</h3>
  <div class="form-group">
    <label>Exercise</label>
    <input type="text" class="form-control" ng-model="$ctrl.name" placeholder="Running"/>
    <label>Unit name</label>
    <input type="text" class="form-control" ng-model="$ctrl.unitName" placeholder="km" />
    <label>Unit default value</label>
    <input type="text" class="form-control" ng-model="$ctrl.unitValue" placeholder="5" />
  </div>
<br/>
<button type="button" class="btn btn-info" ng-click="$ctrl.addWorkout()">Add Exercise</button>
<br/>
<br/>
</div>
  <ui-view></ui-view>
</div>
